*{
    margin: 0;
    padding: 0;
}
ol,ul{
    list-style: none;
}
img{
    border: 0;
}
a{
    text-decoration: none;
}
.bonner{
    height: 120px;

}
.bonner a{
    background: url("../img/bonner.jpg") no-repeat center;
    height: 120px;
    display: block;
}
.nav{
    background: #333333;
    height: 40px;
}
.wrapper{
    margin:0 auto;
    width: 1226px;

}
.main-nav{
    overflow: hidden;
    float: left;
    overflow: hidden;
}
.main-nav li{
    float: left;
    height: 40px;
    line-height: 40px;
}
.main-nav li a{
    color: #b0b0b0;
    font-size: 12px;
}
.main-nav a:hover{
    color: white;
}
.main-nav span{
    color: #424242;
    margin:0 5px;
}
.user-info{
    float: right;
}
.user-info li{
    float: left;
    height: 40px;
    line-height: 40px;
}
.user-info a{
    color: #b0b0b0;
    font-size: 12px;
}
.user-info span{
    color: #424242;
    margin: 0 5px
;
}
.user-info a:hover{
    color: white;
}
.iconfont{
    font-size: 20px;
    color: aqua;

}
.user-info .cart{
    text-align: center;
    width: 120px;
    background: #424242;
    margin-left: 20px;
    position: relative;
}
.user-info .cart:hover a{
    color: #ff6700;

    
}
.user-info .cart a{
    display: block;
    width: 100%;
    height: 100%;
}
.user-info .cart:hover{
    background: white;
}
.cart-box{
    width: 300px;
    height: 0px;
    font-size: 12px;
    line-height: 100px;
    text-align: center;
    background: white;
    position: absolute;
    right: 0px;
    top: 40px;
    box-shadow: 0px 2px 2px 3px rgba(0,0,0,0.6 );
    display: none;
    overflow: hidden;
}
.user-info .cart:hover .cart-box{
     display: block;
     animation: show 0.15s ease-in 0s forwards;
 }
@keyframes  show {
    100%{
        height: 100px;
    }
}
.header{
    height: 100px;
    position: relative;
}
.mi-logo{

    margin-top: 22px;
    float: left;
}
.link-logo{
    height: 55px;
    width: 55px;
    background: #ff6700 url("../img/mi-logo.png") no-repeat center center;
    display: block;
}
.main-menu {
 float: left;
    margin-left:100px;
}
.menu-item {
    float: left;
  padding: 42px 0;
}
.menu-item a{
    font-size: 16px;
    color: #333;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    
}
.menu-item:hover a{
    color: #ff6700;
}
.sub-menu{

    background: red;
    position: absolute;
    left: 0px;
    top: 100px;
    width: 100%;
    display: none;
}
.search{
    border: 1px  solid gray;
    width: 245px;
    height: 50px;
    float: right;
    margin: 25px 0px 25px 125px;
    font-size: 12px;
    color: black;
   line-height: 50px;
   text-align: center;
}
.search1{
    border: 1px solid grey;
    width: 55px;
    height: 50px;
    margin: 25px 0px 25px 1000px;
}
.menu1{
    background: #000000;
    width: 234px;
    margin: -25px 0px 0px 25px;

}
.menu1 li{
    height: 42px;

}
.menu1 li a{
    color: white;
    width: 100%;
    height: 100%;
    line-height: 42px;
    text-align: center;
    font-size: 14px;
    padding-left: 25px;
}
.menu1 li:hover{
    background: #ff6700;
}