*{
    margin: 0;
    padding: 0;
}
ol,ul{
    list-style: none;
}
img{
    border: 0;
}
a{
    text-decoration: none;
}

.bonner{
    height: 120px;

}
.bonner a{
    background: url("../img/bonner.jpg") no-repeat center;
    height: 120px;
    display: block;
}
.nav{
    background: #333333;

}
.wrapper{
    margin:0 auto;
    width: 1226px;
    height: 40px;
}
.main-nav{
    overflow: hidden;
    float: left;
    overflow: hidden;
}
.main-nav li{
    float: left;
    height: 40px;
    line-height: 40px;
}
.main-nav li a{
    color: #b0b0b0;
    font-size: 12px;
}
.main-nav a:hover{
    color: white;
}
.main-nav span{
    color: #424242;
    margin:0 5px;
}
.user-info{
    float: right;
}
.user-info li{
    float: left;
    height: 40px;
    line-height: 40px;
}
.user-info a{
    color: #b0b0b0;
    font-size: 12px;
}
.user-info span{
    color: #424242;
    margin: 0 5px
;
}
.user-info a:hover{
    color: white;
}

.mi-logo{
    height: 55px;
    width: 55px;
    margin: 20px 20px;
}
.mi-logo a{
    height: 55px;
    background: #ff6700 url("../img/mi-logo.png") no-repeat center;
    display: block;
}
.iconfont{
    font-size: 20px;
    color: aqua;

}