*{
    margin: 0;
    padding: 0;
}
ol,ul{
    list-style: none;
}
img{
    border: 0;
}
a{
    text-decoration: none;
}

.bonner{
    height: 120px;

}
.bonner a{
    background: url("../img/bonner.jpg") no-repeat center;
    height: 120px;
    display: block;
}
.nav{
    background: #333333;

}
.wrapper{
    margin:0 auto;
    width: 1226px;
    height: 40px;
}
.main-nav{
    overflow: hidden;
    float: left;
    overflow: hidden;
}
.main-nav li{
    float: left;
    height: 40px;
    line-height: 40px;
}
.main-nav li a{
    color: #b0b0b0;
    font-size: 12px;
}
.main-nav a:hover{
    color: white;
}
.main-nav span{
    color: #424242;
    margin:0 5px;
}
.user-info{
    float: right;
}
.user-info li{
    float: left;
    height: 40px;
    line-height: 40px;
}
.user-info a{
    color: #b0b0b0;
    font-size: 12px;
}
.user-info span{
    color: #424242;
    margin: 0 5px
;
}
.user-info a:hover{
    color: white;
}


.iconfont{
    font-size: 20px;
    color: aqua;

}
.user-info .cart{
    text-align: center;
    width: 120px;
    background: #424242;
    margin-left: 20px;
    position: relative;
}
.user-info .cart:hover a{
    color: #ff6700;

    
}
.user-info .cart a{
    display: block;
    width: 100%;
    height: 100%;
}
.user-info .cart:hover{
    background: white;
}
.cart-box{
    width: 300px;
    height: 0px;
    font-size: 12px;
    line-height: 100px;
    text-align: center;
    background: white;
    position: absolute;
    right: 0px;
    top: 40px;
    box-shadow: 0px 2px 2px 3px rgba(0,0,0,0.6 );
    display: none;
    overflow: hidden;
}
.user-info .cart:hover .cart-box{
    display: block;
    animation: show 0.15\s ease-in 0s forwards;
}
@keyframes  show {
    100%{
        height: 100px;
    }
}
.header{
    height: 100px;

}
.mi-logo{

    margin-top: 22px;
    float: left;
}
.link-logo{
    height: 55px;
    width: 55px;
    background: #ff6700 url("../img/mi-logo.png") no-repeat center center;
    display: block;
}
.main-menu {
 float: left;
    margin-left:100px;
}
.menu-item {
    float: left;
    height: 100px;
    line-height: 100px;
}
.menu-item a{
    font-size: 16px;
    color: #333;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    
}
.menu-item:hover a{
    color: #ff6700;
}
